.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24;
    color: black;
}

.direction {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22;
    color: black;
    background-color: bisque;
}
.name {

}

.direction:hover {
    background-color: burlywood;
    color: rgb(46, 111, 233);
}

.JACQUES {
    color: forestgreen;
}

.HENRIETTE {
    color: coral;
}



table,
th,
td {
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    width: 10%;
    border-collapse: collapse;

}

table {
    padding: 5px;
    margin: 20px;
    width: 60%;
}

th {
    color: palevioletred;
    font-weight: bold;
    height: 70px;
    text-align: center;
    

}

td {
    color: darkorchid;
    border: 1px solid;
    height: 30px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: beige;
}

.JACQUES:hover {
    background: beige;
    color: rgb(100, 100, 211);
    text-shadow: 2px 2px #baa9a9;
    border: cornflowerblue;
}

.HENRIETTE:hover {
    background: powderblue;
    color: rgb(219, 52, 71);
    text-shadow: 4px 4px #9c9898;
    border: deeppink;
}

ul.navbar-horizontal {
    display:block;
    padding: 100%;
    color:chartreuse
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type:none;
    margin: 10px;
    padding: 10px;}

ul.navbar-horizontal li {
    float:left;
    background-color:bisque;
}

ul.navbar-horizontal a {
    display:block;
    padding: 8px;
}

/* on hover change the link color*/
ul.navbar-horizontal a:hover {
    color:coral;
}

.image {
    width: 30%;
}